Repository parameter1/science-medicine-group-websites, pull requests merged in 2022-12, with the labels that each got.

#135 Update DRB logo height
  sites/drbicuspid.com/config/site.js
  sites/drbicuspid.com/server/styles/index.scss
Labels: site: drbicuspid.com

#136 Update LP custom Auth0 domain
  sites/labpulse.com/config/auth0.js
Labels: site: labpulse.com

#141 Fix Auth0 API
  docker-compose.yml
  packages/auth0/index.js
  packages/auth0/middleware/index.js
  packages/auth0/package.json
  packages/auth0/service.js
  packages/braze/package.json
  packages/global/package.json
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/package.json
  sites/labpulse.com/config/auth0.js
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
  yarn.lock
Labels: bug

#147 Change email
  docker-compose.yml
  packages/auth0/after-callback.js
  packages/auth0/hooks/index.js
  packages/auth0/hooks/on-change-email-success.js
  packages/auth0/index.js
  packages/auth0/middleware/index.js
  packages/auth0/service.js
  packages/auth0/templates/change-email.marko
  packages/braze/hooks/index.js
  packages/braze/hooks/on-change-email-success.js
  packages/global/start-server.js
  packages/global/templates/user/change-email.marko
  packages/global/templates/user/index.js
  sites/auntminnie.com/config/auth0.js
  sites/auntminnieasia.com/config/auth0.js
  sites/auntminnieeurope.com/config/auth0.js
  sites/drbicuspid.com/config/auth0.js
  sites/labpulse.com/config/auth0.js
  sites/scienceboard.net/config/auth0.js
Labels: site: ALL

#148 Adjust newsletter signup logic to hide for gated content
  packages/auth0/package.json
  packages/braze/package.json
  packages/global/components/layouts/content/default.marko
  packages/global/package.json
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/package.json
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
  yarn.lock
Labels: site: ALL

#149 Adjust newsletter signup logic to hide for gated content
  packages/auth0/package.json
  packages/braze/package.json
  packages/global/components/layouts/content/default.marko
  packages/global/package.json
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/package.json
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
  yarn.lock
Labels: site: ALL

#152 Update DrB navigation
  lerna.json
  packages/auth0/package.json
  packages/braze/package.json
  packages/global/package.json
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/config/navigation.js
  sites/drbicuspid.com/config/newsletter.js
  sites/drbicuspid.com/package.json
  sites/labpulse.com/config/navigation.js
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
Labels: site: drbicuspid.com

#151 Update DrB navigation
  sites/drbicuspid.com/config/navigation.js
  sites/drbicuspid.com/config/newsletter.js
  sites/labpulse.com/config/navigation.js
Labels: site: drbicuspid.com

#154 Sign up button
  lerna.json
  packages/global/browser/site-newsletter-menu/signup.vue
  sites/drbicuspid.com/package.json
  sites/labpulse.com/package.json
Labels: site: ALL

#153 Change button label to “Sign Up”
  packages/global/browser/site-newsletter-menu/signup.vue
Labels: site: ALL

#155 Adjust button text
  packages/global/browser/form-login.vue
Labels: site: ALL

#156 Add content metering support
  docker-compose.yml
  packages/global/components/blocks/content-meter.marko
  packages/global/components/document.marko
  packages/global/components/layouts/content/default.marko
  packages/global/middleware/content-meter.js
  packages/global/utils/content-meter-helpers.js
  sites/auntminnie.com/config/site.js
  sites/auntminnie.com/server/routes/content.js
  sites/auntminnieasia.com/config/site.js
  sites/auntminnieasia.com/server/routes/content.js
  sites/auntminnieeurope.com/config/site.js
  sites/auntminnieeurope.com/server/routes/content.js
  sites/drbicuspid.com/config/site.js
  sites/drbicuspid.com/server/routes/content.js
  sites/labpulse.com/config/content-meter.js
  sites/labpulse.com/config/site.js
  sites/labpulse.com/server/routes/content.js
  sites/scienceboard.net/config/content-meter.js
  sites/scienceboard.net/config/site.js
  sites/scienceboard.net/server/routes/content.js
Labels: site: ALL
