Repository parameter1/science-medicine-group-websites, pull requests merged in 2023-05, with the labels that each got.

#299 Create ad unit for ‘dental-hygiene’
  sites/drbicuspid.com/config/gam.js
Labels: site: drbicuspid.com

#300 Create Native-X ad placement for `digital-dentistry/imaging-cad-cam`, Dr. Bicuspid
  sites/drbicuspid.com/config/native-x.js
Labels: site: drbicuspid.com

#301 Unset `regionCode` as required field on server Identity-X
  packages/global/config/identity-x.js
Labels: bug, site: ALL

#302 Create native-x ad placement for dental hygiene
  sites/drbicuspid.com/config/native-x.js
Labels: site: drbicuspid.com

#308 Update list block on homepage with digital dentistry
  sites/drbicuspid.com/server/templates/index.marko
Labels: site: drbicuspid.com

#317 Update navigation
  sites/auntminnie.com/config/navigation.js
Labels: site: auntminnie
