Repository parameter1/science-medicine-group-websites, pull requests merged in 2023-03, with the labels that each got.

#202 'Case of the Week' block, Dr. Bicuspid
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/integration-tests.yml
  packages/auth0/package.json
  packages/braze/package.json
  packages/global/components/blocks/external-api.marko
  packages/global/components/blocks/marko.json
  packages/global/package.json
  packages/global/scss/components/_external-api.scss
  packages/global/scss/core.scss
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/config/native-x.js
  sites/drbicuspid.com/package.json
  sites/drbicuspid.com/server/templates/index.marko
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
  yarn.lock
Labels: site: drbicuspid.com

#221 Remove “Dental Organizations” from navigation
  sites/drbicuspid.com/config/navigation.js
Labels: site: drbicuspid.com

#222 Add sponsored header to content pages
  packages/global/components/layouts/content/default.marko
  packages/global/scss/core.scss
Labels: site: ALL

#243 Fix change email implementation
  packages/auth0/hooks/index.js
  packages/auth0/hooks/on-change-email-success.js
  packages/auth0/middleware/index.js
  packages/auth0/service.js
  packages/global/start-server.js
  packages/wp-icle/hooks/index.js
Labels: bug

#245 Add contextual support to footer newsletter block
  packages/global/components/site-footer.marko
Labels: site: ALL

#254 Fix website section sticky footer context
  packages/global/components/document.marko
  packages/global/components/layouts/website-section/default.marko
Labels: site: ALL

#253 Fix website section sticky footer context
  lerna.json
  packages/auth0/package.json
  packages/auth0/templates/change-email.marko
  packages/global/browser/index.js
  packages/global/components/document.marko
  packages/global/components/layouts/website-section/default.marko
  packages/global/package.json
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/config/newsletter.js
  sites/drbicuspid.com/package.json
  sites/drbicuspid.com/server/public/android-chrome-192x192.png
  sites/drbicuspid.com/server/public/android-chrome-512x512.png
  sites/drbicuspid.com/server/public/apple-touch-icon.png
  sites/drbicuspid.com/server/public/favicon-16x16.png
  sites/drbicuspid.com/server/public/favicon-32x32.png
  sites/drbicuspid.com/server/public/favicon.ico
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
Labels: site: ALL

#256 Add imaging-cad-cam ad unit
  sites/drbicuspid.com/config/gam.js
Labels: site: drbicuspid.com

#255 Add imaging-cad-cam ad unit
  sites/drbicuspid.com/config/gam.js
  sites/labpulse.com/config/gam.js
  sites/labpulse.com/server/styles/index.scss
Labels: site: drbicuspid.com

#258 Add topic blocks to DrB home page
  sites/drbicuspid.com/server/templates/index.marko
  sites/labpulse.com/config/gam.js
  sites/labpulse.com/server/styles/index.scss
Labels: site: drbicuspid.com

#260 Remove “Prostodontics” & “AI”, add “Treatment Software”
  sites/drbicuspid.com/config/navigation.js
Labels: site: drbicuspid.com

#267 Update source attribution
  packages/global/components/layouts/content/default.marko
Labels: site: ALL

#271 Add instagram to social media links
  sites/drbicuspid.com/config/site.js
Labels: site: drbicuspid.com

#270 Add instagram to social media links
  sites/drbicuspid.com/config/site.js
Labels: site: drbicuspid.com

#277 Use updated wrapper components, fix aliases for GAM
  packages/global/components/layouts/content/wrapper.marko
  packages/global/components/wrappers/components/section-feed-block.marko
  packages/global/components/wrappers/components/section-feed-flow.marko
  packages/global/components/wrappers/marko.json
  packages/global/components/wrappers/section-feed.marko
Labels: site: ALL

#251 Enable crawling on DrB
  sites/drbicuspid.com/server/public/robots.txt
Labels: site: drbicuspid.com

#279 Enable bottom sticky leaderboard on home page
  packages/global/components/layouts/website-section/home.marko
Labels: site: ALL
