Repository parameter1/science-medicine-group-websites, pull requests merged in 2023-04, with the labels that each got.

#284 Set default search sort back to Published
  sites/auntminnie.com/config/site.js
  sites/auntminnieasia.com/config/site.js
  sites/auntminnieeurope.com/config/site.js
  sites/drbicuspid.com/config/site.js
  sites/labpulse.com/config/site.js
  sites/scienceboard.net/config/site.js
Labels: site: ALL

#294 Add News to content type filters, Search Page Dr. Bicuspid.
  sites/drbicuspid.com/config/search.js
Labels: site: drbicuspid.com

#296 Add ‘Advertising’ link to navigation
  sites/labpulse.com/config/navigation.js
Labels: site: labpulse.com
