Repository parameter1/science-medicine-group-websites, pull requests merged in 2023-09, with the labels that each got.

#382 Create GAM ad placement for Resources/Whitepapers
  sites/labpulse.com/config/gam.js
Labels: site: labpulse.com

#381 Set up all Native X placements
  sites/auntminnie.com/config/native-x.js
Labels: site: auntminnie

#380 Add "Discuss" button to bottom of content pages, Aunt Minnie
  packages/global/components/layouts/content/default.marko
  packages/global/routes/index.js
  sites/auntminnie.com/config/site.js
Labels: site: auntminnie

#387 Update footer logo & favicon
  sites/auntminnie.com/config/site.js
  sites/auntminnie.com/server/public/android-chrome-192x192.png
  sites/auntminnie.com/server/public/android-chrome-512x512.png
  sites/auntminnie.com/server/public/apple-touch-icon.png
  sites/auntminnie.com/server/public/favicon-16x16.png
  sites/auntminnie.com/server/public/favicon-32x32.png
  sites/auntminnie.com/server/public/favicon.ico
  sites/auntminnie.com/server/styles/index.scss
Labels: site: auntminnie

#396 Add word-wrap to enl signup
  packages/global/scss/core.scss
Labels: site: ALL

#402 Upgrade dependencies
  packages/braze/package.json
  packages/global/package.json
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/package.json
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
  yarn.lock
Labels: site: ALL

#403 Fix GAM ad aliases
  sites/auntminnie.com/config/gam.js
Labels: bug

#404 Enable crawling for AuntMinnie.com
  sites/auntminnie.com/server/public/robots.txt
Labels: 🌐 site: auntminnie.com

#425 Allow config of `WPICLE_API_HOSTNAME` for AuntMinnie
  docker-compose.yml
  sites/auntminnie.com/config/navigation.js
Labels: 🌐 site: auntminnie.com

#424 Add fallback cases redirect, Aunt Minnie
  sites/auntminnie.com/server/routes/index.js
Labels: 🌐 site: auntminnie.com

#429 Allow commenting to be enabled on staging for testing
  packages/global/components/layouts/content/default.marko
  packages/global/routes/index.js
Labels: 🌐 site: auntminnie.com

#436 Correct `/logout` to `/user/logout` on remaining sites
  sites/auntminnieasia.com/config/navigation.js
  sites/auntminnieeurope.com/config/navigation.js
  sites/labpulse.com/config/navigation.js
  sites/scienceboard.net/config/navigation.js
Labels: 🌐 site: labpulse.com
