Repository parameter1/science-medicine-group-websites, pull requests merged in 2023-12, with the labels that each got.

#489 Ensure we have a MongoDB ID before querying for Identity-X user
  packages/braze/middleware/set-idx-cookie.js
Labels: bug, 🌐 site: ALL

#491 Implement cross site Google Search on __google-search (hidden route)
  packages/global/browser/index.js
  packages/global/package.json
  packages/global/routes/google-search.js
  packages/global/routes/index.js
  packages/global/templates/google-search.marko
  sites/auntminnie.com/config/site.js
  sites/drbicuspid.com/config/site.js
  yarn.lock
Labels: 🌐 site: drbicuspid.com, 🌐 site: auntminnie.com

#493 Update Careers link AME navigation
  sites/auntminnieeurope.com/config/navigation.js
Labels: 🌐 site: auntminnieeurope.com

#494 Include company on content pages where applicable
  packages/global/components/layouts/content/default.marko
Labels: 🌐 site: ALL

#495 Replace Media & Press with Press Releases
  sites/drbicuspid.com/config/navigation.js
  sites/labpulse.com/config/navigation.js
Labels: 🌐 site: labpulse.com, 🌐 site: drbicuspid.com
