Repository parameter1/science-medicine-group-websites, pull requests merged in 2023-11, with the labels that each got.

#460 Remove `/__post-comment` endpoint
  packages/global/routes/index.js
Labels: 🌐 site: ALL

#464 Remove filter styling on footer logo
  sites/auntminnieeurope.com/server/styles/index.scss
Labels: 🌐 site: auntminnieeurope.com

#466 Enable RMI form
  sites/auntminnie.com/config/site.js
  sites/auntminnieeurope.com/config/site.js
  sites/drbicuspid.com/config/site.js
  sites/labpulse.com/config/site.js
Labels: 🌐 site: ALL

#470 Create GAM & NativeX ad placements
  sites/auntminnieeurope.com/config/gam.js
  sites/auntminnieeurope.com/config/native-x.js
Labels: 🌐 site: auntminnieeurope.com

#472 Move ‘AuntMinnie’ to end of secondary nav, AuntMinnie Europe
  sites/auntminnieeurope.com/config/navigation.js
Labels: 🌐 site: auntminnieeurope.com

#471 Create section ‘Leveraging VNA’s’ to use SENL ads
  sites/auntminnie.com/config/gam.js
Labels: 🌐 site: auntminnie.com

#473 Update GAM config to use basePath: ame
  sites/auntminnieeurope.com/config/gam.js
Labels: 🌐 site: auntminnieeurope.com

#476 Deploy AunMinnie Europe using Virgon stack
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/integration-tests.yml
  sites/auntminnieeurope.com/package.json
  sites/auntminnieeurope.com/server/templates/index.marko
  yarn.lock
Labels: 🌐 site: auntminnieeurope.com

#479 Remove unused/unsold ad placements, Aunt Minnie Europe
  sites/auntminnieeurope.com/config/gam.js
  sites/auntminnieeurope.com/config/native-x.js
Labels: 🌐 site: auntminnieeurope.com

#478 Aunt Minnie Europe Favicons
  sites/auntminnieeurope.com/server/public/android-chrome-192x192.png
  sites/auntminnieeurope.com/server/public/android-chrome-512x512.png
  sites/auntminnieeurope.com/server/public/apple-touch-icon.png
  sites/auntminnieeurope.com/server/public/favicon-16x16.png
  sites/auntminnieeurope.com/server/public/favicon-32x32.png
  sites/auntminnieeurope.com/server/public/favicon.ico
Labels: 🌐 site: auntminnieeurope.com

#480 Remove outlined empty sections from navigation, Aunt Minnie Europe
  sites/auntminnieeurope.com/config/navigation.js
Labels: 🌐 site: auntminnieeurope.com

#481 Fix / to - between ad prefix
  sites/auntminnieeurope.com/config/gam.js
Labels: bug

#482 Update GTM container ID, Aunt Minnie Europe
  sites/auntminnieeurope.com/config/site.js
Labels: 🌐 site: auntminnieeurope.com

#485 Add advisory board page to nav
  sites/auntminnieeurope.com/config/navigation.js
Labels: 🌐 site: auntminnieeurope.com

#486 Rename “Preview Coverage” to “Featured News”
  sites/auntminnie.com/server/templates/website-section/conference-with-pinned.marko
Labels: 🌐 site: ALL

#487 Create env variable for AuntMinnie url
  docker-compose.yml
  sites/auntminnieeurope.com/config/navigation.js
Labels: 🌐 site: auntminnieeurope.com
