Repository parameter1/science-medicine-group-websites, pull requests merged in 2024-01, with the labels that each got.

#497 Move Company attribution to after body copy, replace "From" with "Tags"
  packages/global/components/layouts/content/default.marko
  packages/global/scss/core.scss
Labels: 🌐 site: ALL

#498 Update Buyer’s Guide link
  sites/auntminnie.com/config/navigation.js
Labels: 🌐 site: auntminnie.com

#499 Display author(s) when applicable in section feeds
  packages/global/components/wrappers/components/section-feed-flow.marko
  packages/global/package.json
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/package.json
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
  yarn.lock
Labels: 🌐 site: ALL

#505 Update default form config
  packages/braze/package.json
  packages/global/config/identity-x/default.js
  packages/global/package.json
  packages/global/scss/core.scss
  sites/auntminnie.com/config/identity-x.js
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/package.json
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
  yarn.lock
Labels: 🌐 site: ALL

#506 Drop address fields
  packages/global/config/identity-x/default.js
Labels: 🌐 site: ALL

#507 Add ‘Careers’ to navigation
  sites/labpulse.com/config/navigation.js
Labels: 🌐 site: labpulse.com

#509 Update default form
  packages/global/config/identity-x.js
  packages/global/config/identity-x/default.js
  sites/auntminnie.com/config/identity-x.js
Labels: 🌐 site: ALL

#508 Disable RMI form on all sites
  sites/auntminnie.com/config/site.js
  sites/auntminnieeurope.com/config/site.js
  sites/drbicuspid.com/config/site.js
  sites/labpulse.com/config/site.js
Labels: 🌐 site: ALL

#511 Add ‘Podcasts’ to DrB nav
  sites/drbicuspid.com/config/navigation.js
Labels: 🌐 site: drbicuspid.com
