Repository parameter1/science-medicine-group-websites, pull requests merged in 2024-02, with the labels that each got.

#512 Display author over company, Latest From on company pages and Search page results
  packages/global/routes/index.js
  packages/global/routes/search.js
  packages/global/templates/content/company.marko
  packages/global/templates/search.marko
  sites/auntminnie.com/server/routes/content.js
  sites/auntminnieasia.com/server/routes/content.js
  sites/auntminnieasia.com/server/templates/content/company.marko
  sites/auntminnieeurope.com/server/routes/content.js
  sites/auntminnieeurope.com/server/templates/content/company.marko
  sites/drbicuspid.com/server/routes/content.js
  sites/drbicuspid.com/server/templates/content/company.marko
  sites/labpulse.com/server/routes/content.js
  sites/labpulse.com/server/templates/content/company.marko
  sites/scienceboard.net/server/routes/content.js
  sites/scienceboard.net/server/templates/content/company.marko
Labels: 🌐 site: ALL

#514 Add ‘Pets’ to DrB navigation
  sites/drbicuspid.com/config/navigation.js
Labels: 🌐 site: drbicuspid.com

#515 Remove ads from dynamic pages
  packages/global/templates/dynamic-page/contact-us.marko
  packages/global/templates/dynamic-page/index.marko
Labels: 🌐 site: ALL

#519 Create ECR conference page & update landing page
  packages/global/templates/website-section/conference-with-pinned.marko
  packages/global/templates/website-section/conference.marko
  sites/auntminnie.com/server/routes/conference.js
  sites/auntminnieeurope.com/config/gam.js
  sites/auntminnieeurope.com/config/page-details.js
  sites/auntminnieeurope.com/config/site.js
  sites/auntminnieeurope.com/server/routes/conference.js
  sites/auntminnieeurope.com/server/routes/index.js
Labels: 🌐 site: auntminnieeurope.com

#522 Relatively position, company autocomplete results
  packages/global/scss/components/_company-search.scss
  packages/global/scss/core.scss
Labels: 🌐 site: ALL

#524 Create ECR 2024 conference
  sites/auntminnie.com/config/gam.js
  sites/auntminnie.com/config/page-details.js
  sites/auntminnie.com/server/routes/conference.js
Labels: 🌐 site: auntminnie.com

#526 Identity-X GET and DELETE endpoints
  packages/braze/ingest/index.js
  packages/braze/package.json
  packages/braze/service.js
  packages/global/package.json
  sites/auntminnie.com/package.json
  sites/auntminnieasia.com/package.json
  sites/auntminnieeurope.com/package.json
  sites/drbicuspid.com/package.json
  sites/labpulse.com/package.json
  sites/scienceboard.net/package.json
  yarn.lock
Labels: 🌐 site: ALL
