Repository parameter1/science-medicine-group-websites, pull requests merged in 2024-08, with the labels that each got.

#600 Don't load modal on user or page routes
  packages/global/components/document.marko
Labels: bug, 🌐 site: ALL

#601 Add ‘Advertising’ to navigation
  sites/auntminnieeurope.com/config/navigation.js
Labels: 🌐 site: auntminnieeurope.com

#598 Add new Conference and ad units
  sites/auntminnie.com/config/gam.js
  sites/auntminnie.com/config/page-details.js
  sites/auntminnie.com/server/routes/conference.js
Labels: 🌐 site: auntminnie.com

#602 Redirect to 2023 for RSNA landing
  sites/auntminnie.com/server/routes/conference.js
Labels: 🌐 site: auntminnie.com
