Repository parameter1/science-medicine-group-websites, pull requests merged in 2024-10, with the labels that each got.

#608 Create JFR conference
  sites/auntminnieeurope.com/config/page-details.js
  sites/auntminnieeurope.com/server/routes/conference.js
Labels: 🌐 site: auntminnieeurope.com

#610 Use correct url for ‘AI’ section
  sites/drbicuspid.com/config/navigation.js
Labels: 🌐 site: drbicuspid.com

#567 Set `__p1e_idt` based in incoming cookie value
  packages/global/components/document.marko
  packages/global/utils/create-identity-builder.js
Labels: 🌐 site: ALL

#614 Create DrB conference pages
  sites/drbicuspid.com/config/gam.js
  sites/drbicuspid.com/config/navigation.js
  sites/drbicuspid.com/config/page-details.js
  sites/drbicuspid.com/server/routes/conference.js
  sites/drbicuspid.com/server/routes/index.js
Labels: 🌐 site: drbicuspid.com

#615 Fix misspelling and move CMIMI to top of list
  sites/auntminnie.com/config/page-details.js
Labels: 🌐 site: auntminnie.com

#617 Add ‘resources’ to gam.js
  sites/auntminnieeurope.com/config/gam.js
Labels: 🌐 site: auntminnieeurope.com
