Repository parameter1/science-medicine-group-websites, pull requests merged in 2024-04, with the labels that each got.

#534 Add padding and border-radius to content-page-gate
  packages/global/scss/components/user.scss
Labels: 🌐 site: ALL

#535 Use GCSE for Dr.B
  packages/global/routes/google-search.js
  packages/global/routes/index.js
  sites/auntminnie.com/config/site.js
  sites/labpulse.com/config/site.js
  sites/scienceboard.net/config/site.js
Labels: 🌐 site: drbicuspid.com

#536 Remove Newsletter Pushdown and Toggler from header
  packages/global/components/site-header-c.marko
Labels: 🌐 site: ALL

#538 Add CSP headers to prevent iframing
  packages/global/start-server.js
Labels: staging

#540 Setup and configure ISMRM conference pages, Aunt Minnie and Aunt Minnie Europe
  sites/auntminnie.com/config/gam.js
  sites/auntminnie.com/config/page-details.js
  sites/auntminnie.com/server/routes/conference.js
  sites/auntminnieeurope.com/config/gam.js
  sites/auntminnieeurope.com/config/page-details.js
  sites/auntminnieeurope.com/server/routes/conference.js
Labels: 🌐 site: auntminnie.com, 🌐 site: auntminnieeurope.com

#541 Enable Google Site Search for Aunt Minnie
  sites/auntminnie.com/config/site.js
Labels: 🌐 site: auntminnie.com

#545 Update path for ismrm/2024 gam
  sites/auntminnie.com/config/gam.js
  sites/auntminnieeurope.com/config/gam.js
Labels: 🌐 site: auntminnie.com, 🌐 site: auntminnieeurope.com
