Repository parameter1/science-medicine-group-websites, pull requests merged in 2024-06, with the labels that each got.

#549 Create SNMMI route, page-details, & GAM ad unit
  sites/auntminnie.com/config/gam.js
  sites/auntminnie.com/config/page-details.js
  sites/auntminnie.com/server/routes/conference.js
  sites/auntminnie.com/server/routes/website-section.js
  sites/auntminnieeurope.com/config/gam.js
  sites/auntminnieeurope.com/config/page-details.js
  sites/auntminnieeurope.com/server/routes/conference.js
Labels: 🌐 site: auntminnie.com, 🌐 site: auntminnieeurope.com

#554 Exclude ‘Company’ content types from ‘More in…’ block on homepage
  packages/global/components/layouts/website-section/home.marko
Labels: 🌐 site: ALL

#563 Update AME link
  sites/auntminnie.com/config/navigation.js
Labels: 🌐 site: auntminnie.com

#562 Update site logos - AM
  sites/auntminnie.com/config/site.js
  sites/auntminnie.com/server/styles/index.scss
Labels: 🌐 site: auntminnie.com

#566 Push modal back to the 3rd page view
  packages/global/browser/newsletter-signup-modal-listener.vue
  packages/global/components/document.marko
Labels: 🌐 site: ALL

#568 Do not fire modal if the pathname starts with /page
  packages/global/browser/newsletter-signup-modal-listener.vue
Labels: 🌐 site: ALL

#570 Remove ‘extra’ ad call on mobile
  packages/global/components/layouts/content/wrapper.marko
Labels: bug
